<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pagina de Cadastro</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    </head>
    <body>
        <h1 class="p-3 mb-2 bg-success text-white">Cadastre um anime</h1>
        <hr>
        <form  action="{{url_for('cadastro')}}" method="POST">
            <table class="table table-success table-striped">
                <tr>
                    <td>Nome</td>
                    <td><input type="text" name="nome"></td>
                </tr>
                <tr>
                    <td>Genero</td>
                    <td><input type="text" name="genero"></td>     
                </tr>
                <tr>
                    <td>Tipo</td>
                    <td><input type="text" name="tipo"></td>     
                </tr>   
            </table><br>
            <a href="/index" class="btn btn-outline-success">Voltar</a>
            <input type="submit" class="btn btn-outline-success" value="Cadastrar">
        </form>
    </body>
</html>